blinker
certifi
charset-normalizer
click
flask
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
packaging
protobuf
PyMySQL
python-dotenv
requests
SQLAlchemy
typing-extensions
urllib3
uuid
werkzeug
zipp
